@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-300 antialiased font-feature-settings-tnum font-variant-numeric-tabular-nums;
  }
}

.font-feature-settings-tnum {
  font-feature-settings: "tnum";
}

.font-variant-numeric-tabular-nums {
  font-variant-numeric: tabular-nums;
}

/* Custom Utilities */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
